
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sporty Shoes</title>
</head>
<body>
<h1>Welcome to Sporty Shoes</h1>
<h2>List of Shoes</h2>
<div align="right">
    <a href="/adminpage">Back to Admin Page</a>
</div>
<div align="center">
    <form action="/editproduct" method="post">
        <table border="1" cellpadding="5">
            <caption><h2>List of Shoes</h2></caption>
            <tr>
                <th>Brand</th>
                <th>Category</th>
                <th>Size</th>
                <th>Price</th>
                <th>Select Product</th>
            </tr>
            <th:block th:each="products:${products}">
                <tr>
                    <td>[[${products.brandName}]]</td>
                    <td>[[${products.gender}]]</td>
                    <td>[[${products.size}]]</td>
                    <td>[[${products.price}]]</td>
                    <td>
                        <a th:href=" '/editproduct?pid=' + ${products.id} ">Edit Info</a>
                    </td>
                </tr>
            </th:block>
        </table>
    </form>
</div>
</body>
</html>
